name: Fix

on:
  workflow_run:
    workflows:
      - "Quality"
    branches:
      - "release-*"
    types:
      - completed

jobs:
  create-fix:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Generate fix
        uses: intelygenz/action-product-version-tags@v0.2.1
        with:
          prefix: "release-"
          mode: 'fix'
        env:
          GITHUB_TOKEN: ${{ secrets.PAT }}
